<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.standbyside.datadict.mapper.TableMapper">

    <select id="findTables" resultType="com.standbyside.datadict.entity.TableInfo">
        SELECT
            t.table_name,
            t.table_comment
        FROM information_schema.tables t
        WHERE t.table_schema = #{schemaName}
        ORDER BY t.table_name
    </select>

</mapper>
